In [1]:
# Data Type
# STRING : TEXT
# INTEGER: NUMBER
# FLOAT: 12.54
# BOOL: TRUE/FALSE

In [2]:
# DATA OBJECTS

# LISTS

# Agenda for today
# TUPLES
# DICTIONARIES
# SETS
# STRING FORMATTING

In [3]:
# lists

ls = [1,2,3,4,"sws", 12.5, [1,2,3]]

# indexing
ls[-1]

[1, 2, 3]

In [4]:
ls[0]

1

In [5]:
ls[0: 5]

[1, 2, 3, 4, 'sws']

In [7]:
ls[-3: -8: -1]

['sws', 4, 3, 2, 1]

In [8]:
# inserting

# append
# insert
# extend

ls

[1, 2, 3, 4, 'sws', 12.5, [1, 2, 3]]

In [9]:
ls.append("sumit")

In [10]:
ls

[1, 2, 3, 4, 'sws', 12.5, [1, 2, 3], 'sumit']

In [11]:
ls.insert(-2, "session")

In [12]:
ls

[1, 2, 3, 4, 'sws', 12.5, 'session', [1, 2, 3], 'sumit']

In [13]:
ls.insert(4, "A")

In [14]:
ls

[1, 2, 3, 4, 'A', 'sws', 12.5, 'session', [1, 2, 3], 'sumit']

In [15]:
## Extend

ls1 = ["A", "B", "C", "D"]

In [16]:
ls1

['A', 'B', 'C', 'D']

In [17]:
ls

[1, 2, 3, 4, 'A', 'sws', 12.5, 'session', [1, 2, 3], 'sumit']

In [18]:
ls.extend(ls1)

In [19]:
ls

[1,
 2,
 3,
 4,
 'A',
 'sws',
 12.5,
 'session',
 [1, 2, 3],
 'sumit',
 'A',
 'B',
 'C',
 'D']

In [20]:
# Remove 

# remove
# pop

ls

[1,
 2,
 3,
 4,
 'A',
 'sws',
 12.5,
 'session',
 [1, 2, 3],
 'sumit',
 'A',
 'B',
 'C',
 'D']

In [21]:
ls.remove("sumit")

In [22]:
ls

[1, 2, 3, 4, 'A', 'sws', 12.5, 'session', [1, 2, 3], 'A', 'B', 'C', 'D']

In [23]:
ls.pop(4)

'A'

In [24]:
ls

[1, 2, 3, 4, 'sws', 12.5, 'session', [1, 2, 3], 'A', 'B', 'C', 'D']

In [25]:
# Update a value in alist

ls[4] = 'SWS'

In [26]:
ls

[1, 2, 3, 4, 'SWS', 12.5, 'session', [1, 2, 3], 'A', 'B', 'C', 'D']

In [27]:
ls.extend(["Session", "With", "Sumit"])

In [28]:
ls

[1,
 2,
 3,
 4,
 'SWS',
 12.5,
 'session',
 [1, 2, 3],
 'A',
 'B',
 'C',
 'D',
 'Session',
 'With',
 'Sumit']

In [35]:
# How to reverse a list

ls = [1,2,3,4,5,6]
# [6,5,4,3,2,1]

# Indexing
# Reverse function

In [30]:
# this is not a permanent operation
ls[::-1]

[6, 5, 4, 3, 2, 1]

In [31]:
ls

[1, 2, 3, 4, 5, 6]

In [32]:
# reverse function
# permanent operation

ls.reverse()

In [34]:
ls

[6, 5, 4, 3, 2, 1]

In [36]:
print(ls.reverse())

None

In [37]:
ls

[6, 5, 4, 3, 2, 1]

In [38]:
print(ls.remove(1))

None

In [42]:
ls.remove(3)

In [ ]:
## Sort a list??

# Sort
# Sorted

In [58]:
ls = [7, 3, 3, 2, 5,6,1,8,9]

In [48]:
ls

[7, 3, 3, 2, 5, 6, 1, 8, 9]

In [49]:
# sort
# permanent operation

ls.sort()

In [50]:
ls

[1, 2, 3, 3, 5, 6, 7, 8, 9]

In [52]:
# temperory operation
sorted(ls)

[1, 2, 3, 3, 5, 6, 7, 8, 9]

In [53]:
ls

[7, 3, 3, 2, 5, 6, 1, 8, 9]

In [63]:
sorted(ls, reverse = True)

[9, 8, 7, 6, 5, 3, 3, 2]

In [62]:
sorted(ls)

[2, 3, 3, 5, 6, 7, 8, 9]

In [55]:
# How we ca delete a list
ls

[7, 3, 3, 2, 5, 6, 1, 8, 9]

In [56]:
# deleting alist from memory permanently
del ls

In [57]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 8262-0521

 Directory of C:\Users\SUMITH\Python Notebooks\Python Notebooks\YouTube Content\AnalytixLabs Live

13-09-2020  20:33    <DIR>          .
13-09-2020  20:33    <DIR>          ..
13-09-2020  20:02    <DIR>          .ipynb_checkpoints
12-09-2020  22:11            29,320 Day_1_AnalytixLabs.ipynb
13-09-2020  20:33            13,477 Day_2_AnalytixLabs Live.ipynb
               2 File(s)         42,797 bytes
               3 Dir(s)   9,904,840,704 bytes free

In [59]:
ls

[7, 3, 3, 2, 5, 6, 1, 8, 9]

In [60]:
del ls[-3]

In [61]:
ls

[7, 3, 3, 2, 5, 6, 8, 9]

In [ ]:
# remove -- take input as the name of the element
# pop will take input as the index number
# del it will remove element from memeory itself

## Tuples

In [64]:
# immutable data objects

t1 = ()

In [65]:
type(t1)

tuple

In [66]:
t2 = (1,2,3,4, "sws", "AnalytixLabs")

In [67]:
t2

(1, 2, 3, 4, 'sws', 'AnalytixLabs')

In [68]:
# append

t2.append("new")

AttributeError: 'tuple' object has no attribute 'append'

In [69]:
t2.insert(0, "new")

AttributeError: 'tuple' object has no attribute 'insert'

In [70]:
t2.remove("sws")

AttributeError: 'tuple' object has no attribute 'remove'

In [71]:
t2.pop("0")

AttributeError: 'tuple' object has no attribute 'pop'

In [72]:
t2[0] = "A"

TypeError: 'tuple' object does not support item assignment

In [73]:
del t2

In [74]:
t2

NameError: name 't2' is not defined

In [78]:
t2 = (1,2,3,4, "sws", "AnalytixLabs", [1,2,3])

In [76]:
t2[4]

'sws'

In [77]:
t2[-1]

'AnalytixLabs'

In [81]:
t2[-1][-1] = 4

In [82]:
t2

(1, 2, 3, 4, 'sws', 'AnalytixLabs', [1, 2, 4])

In [83]:
t2[-1] = [5,6,7]

TypeError: 'tuple' object does not support item assignment

In [102]:
t5 =(1,2,3,4,(1,2,3), [1,2,3,])

## Dictionaries

In [84]:
# Data object
# Key-Value Pair
# unorderd collection of data and we don't have any idea of indexes

# The way we create dictionary : {}

d1 = {}
type(d1)

dict

In [85]:
d1 = {"A": "Apple", "B": "Ball", "C": "Cat"}

In [86]:
d1[0]

KeyError: 0

In [87]:
d_info = {"Name": "Sumit", "Place": "Kanpur", "Age": 24, "Job": "Data Scientist"}

In [88]:
d_info["Name"]

'Sumit'

In [89]:
d_info["Place"]

'Kanpur'

In [90]:
d_info["Age"]

24

In [91]:
d_info.keys()

dict_keys(['Name', 'Place', 'Age', 'Job'])

In [92]:
d_info.values()

dict_values(['Sumit', 'Kanpur', 24, 'Data Scientist'])

In [93]:
d_info.items()

dict_items([('Name', 'Sumit'), ('Place', 'Kanpur'), ('Age', 24), ('Job', 'Data Scientist')])

In [96]:
d_info

{'Name': 'Sumit', 'Place': 'Kanpur', 'Age': 24, 'Job': 'Data Scientist'}

In [97]:
# How we can extract a value for a dict

d_info["Year"]

KeyError: 'Year'

In [101]:
d_info.get("Year", "Not Available")

'Not Available'

In [103]:
d1 = {}

In [104]:
d1

{}

In [105]:
# Adding a key-value pair to a dictionary

d1["A"] = "Apple"

In [106]:
d1

{'A': 'Apple'}

In [107]:
d1["B"] = "Ball"

In [108]:
d1

{'A': 'Apple', 'B': 'Ball'}

In [109]:
d_info

{'Name': 'Sumit', 'Place': 'Kanpur', 'Age': 24, 'Job': 'Data Scientist'}

In [110]:
d_info['Year'] = 1996

In [111]:
d_info

{'Name': 'Sumit',
 'Place': 'Kanpur',
 'Age': 24,
 'Job': 'Data Scientist',
 'Year': 1996}

In [112]:
del d_info['Year']

In [113]:
d_info

{'Name': 'Sumit', 'Place': 'Kanpur', 'Age': 24, 'Job': 'Data Scientist'}

## Sets

In [115]:
# It will consist of all the unique element

# How to create a set

#Empty Set
a = set()

In [117]:
type(a)

set

In [118]:
a = {1,2,3,4,5,6,7,8,9}

In [119]:
type(a)

set

In [120]:
# Empty Dict
d = {}
type(d)

dict

In [122]:
a  =set()

In [123]:
a

set()

In [124]:
a.add(1)

In [126]:
a.add(2)

In [127]:
a

{1, 2}

In [128]:
a = {1,1,2,3,3,4,5,5,6,7,8,8,8,9,9}

In [129]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [133]:
a = {"A", "B", "C", "D", "E"}
b = {"A", "B", "F", "G"}

In [132]:
a

{'A', 'B', 'C', 'D', 'E'}

In [135]:
# UNIOUN FUNCTION

a.union(b)

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

In [136]:
# Difference

a.difference(b)

{'C', 'D', 'E'}

In [137]:
b.difference(a)

{'F', 'G'}

In [138]:
# Symmetric Difference
a.symmetric_difference(b)

{'C', 'D', 'E', 'F', 'G'}

In [139]:
a = {1,2,6,4,2,6,2,2,9,9,2,1,4}

In [140]:
a

{1, 2, 4, 6, 9}

In [141]:
t1 = (1,2,3)
list(t1)

[1, 2, 3]

In [143]:
a.add(3)

In [145]:
a.add(0)

In [146]:
a

{0, 1, 2, 3, 4, 6, 9}

In [147]:
a.add("A")

In [148]:
a

{0, 1, 2, 3, 4, 6, 9, 'A'}

In [149]:
a.add("B")

In [150]:
a

{0, 1, 2, 3, 4, 6, 9, 'A', 'B'}

In [151]:
a.add("Sumit")

In [152]:
a

{0, 1, 2, 3, 4, 6, 9, 'A', 'B', 'Sumit'}

## String Operations

In [153]:
# String are immutable in nature

a = "AnalytixLabs"

In [154]:
a

'AnalytixLabs'

In [155]:
a[-1] = "S"

TypeError: 'str' object does not support item assignment

In [156]:
a = a+ " Sws"

In [157]:
a

'AnalytixLabs Sws'

In [159]:
a[0:14]

'AnalytixLabs S'

In [160]:
a[::-1]

'swS sbaLxitylanA'

In [164]:
a= "i love Python"

In [162]:
a.upper()

'I LOVE PYTHON'

In [165]:
a.lower()

'i love python'

In [166]:
a.title()

'I Love Python'

In [168]:
a.capitalize()

'I love python'

In [169]:
b = "my name is sumit"
b.capitalize()

'My name is sumit'

In [170]:
b.title()

'My Name Is Sumit'

In [172]:
b

'my name is sumit'

In [173]:
b.split(" ")

['my', 'name', 'is', 'sumit']

In [174]:
a = "I_LOVE_PYTHON_3"
a.split("_")

['I', 'LOVE', 'PYTHON', '3']

In [175]:
a = "I,love,python,3,sumit"
a.split(",")

['I', 'love', 'python', '3', 'sumit']

In [185]:
a = "abcdefd"
a.split()

['abcdefd']

In [176]:
# Formatting a string
a = "My name is"

In [178]:
a+" Sumit"

'My name is Sumit'

In [179]:
b = "Sumit"
a = "My name is {}".format(b)

In [180]:
a

'My name is Sumit'

In [186]:
a = "My nam is {} and I love {}".format("Sumit", "Python")

In [187]:
a

'My nam is Sumit and I love Python'

In [189]:
"My nam is {1} and I love {0}".format("Sumit", "Python")

'My nam is Python and I love Sumit'

In [193]:
print("{0:<8} | {1:^10} | {2:>20}".format("Name", "Age", "Occupation"))
print("{0:<8} | {1:^10} | {2:>20}".format("Sumit", 24, "Data Scientist"))

Name     |    Age     |           Occupation
Sumit    |     24     |       Data Scientist

In [194]:
"My nam is {a} and I love {b}".format(a = "Sumit", b = "Python")

'My nam is Sumit and I love Python'

In [195]:
a = 12.123567893
print("{0:.4f}".format(a))

12.1236

# Level-1 Heading

## Level-2 Heading

### Level-3 heading

#### Level-4

* Point-1
* Point-2
* Point-3

- Point-1
- Point-2
- Point-3

> Session
>> Sumit
>>> Shukla