## Last Session

- Loops
- Operators(ZIP, Enumerate, Equality, Assignment)
- Break, Continue and Pass

## Agenda

- Question/Revision
- Comprehensions
- Functions
- Map
- Reduce
- Filter

In [2]:
## Question:

# 1, 50
# Print fizzbuzz if the number is div by both 3 and 5
# Print fizz if the number is div by just 3
# print buzz if the number is div by 5
# For any other case, pass it, don't do anything

for i in range(1, 51):
    if i%3==0 and i%5==0:
        print(i, "fizzbuzz")
    elif i%3==0:
        print(i, "fizz")
    elif i%5==0:
        print(i, "buzz")
    else:
        pass

3 fizz
5 buzz
6 fizz
9 fizz
10 buzz
12 fizz
15 fizzbuzz
18 fizz
20 buzz
21 fizz
24 fizz
25 buzz
27 fizz
30 fizzbuzz
33 fizz
35 buzz
36 fizz
39 fizz
40 buzz
42 fizz
45 fizzbuzz
48 fizz
50 buzz

In [ ]:
## Fibonacci Series

# 1,1,2,3,5,8,13,21,34

# Print the series for the number between 1, 50
x = 0, y=1

1 , 1 , 2 , 3 , 5 , 8 , 13 , 21 , 34

x   y   x+y

In [5]:
x = 0
y=  1
while y<50:
    print(y)
    x,y = y, x+y

1
1
2
3
5
8
13
21
34

In [12]:
n  =10
#[1,1,2,3,5]

ls = [1,]
x = 0
y = 1
for i in range(1,n):
    x,y = y, x+y
    ls.append(y)
ls

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

i =1: x=0, y=1: x+y =1
i =2: x =1, y=1: x+y = 2
i =3: x=1, y = 2: x+y = 3
i =4: x=2, y =3, x+y =5

i = n x = y, y=x+y

## List Comprehension

In [13]:
ls = [1,2,3,4,5]
# [1,4,9,14,25]

ls1 = []
for i in ls:
    ls1.append(i**2)
print(ls1)

[1, 4, 9, 16, 25]

In [14]:
# Create a empty list
# [what is your output -- From where you get the values -- Do we have any condition]

[i**2 for i in ls]

[1, 4, 9, 16, 25]

In [15]:
## Question

ls = [1,2,5,8,9,12,55,33,78,34,56,23,90]

[i for i in ls if i%2==0]

[2, 8, 12, 78, 34, 56, 90]

In [19]:
s = "I love Python and the python data objects"
# don't count the word "the"
#[1,4,5,3,5,4,7]

[len(i) for i in s.split(" ") if i not in ["the", "The"]]

[1, 4, 6, 3, 6, 4, 7]

In [35]:
ss = "India"
## Return all the vowels in a list
## ["I", "i", "a"]

list(set([i for i in ss if i in "aeiouAEIOU"]))

['I', 'i', 'a']

In [39]:
ss = "India"
## Return all the vowels in a list
## ["I", "i", "a"]

list(set([i.lower() for i in ss if i in "aeiouAEIOU"]))
# [i, a]

['a', 'i']

In [ ]:
# Set
- Set will hold only unique
- All the elements will be automatically sorted

In [48]:
slist = ['p', 'q']
n =5
# Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

["{}{}".format(j,i) for i in range(1,n+1) for j in slist]

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [47]:
"I love python {}".format(5)

'I love python 5'

In [ ]:
"{}{}".format(j,i)

In [ ]:
[1,2,3,4,5]
['p', 'q']
p1
q1
p2
q2

In [ ]:

['p', 'q']
[1,2,3,4,5]

## Dictionary Comprehension

In [49]:
# {1:1, 2:4, 3:9, 4:16, 5:25, 6:36}

{i:i**2  for i in range(1, 7)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [52]:
a = {"a":100, "b":120, "c":20, "d":40}
#{'a': 35, "b": 42 , "c":7, "d":14}
a.items()
{i: 100*j/sum(a.values()) for i,j in a.items()}

{'a': 35.714285714285715,
 'b': 42.857142857142854,
 'c': 7.142857142857143,
 'd': 14.285714285714286}

In [54]:
for i, j in a.items():
    print(i, j)

a 100
b 120
c 20
d 40

In [55]:
a.values()

dict_values([100, 120, 20, 40])

In [51]:
sum(a.values())

280

## Comprehension with function

In [58]:
ls = ["apple", "ajay", "ornage", "player", "python", "sumit"]

# len([i for i in ls if i[0] in "aeiou"])

sum(1 for i in ls if i[0] in "aeiou")

3

In [63]:
sum([1,2])

3

In [61]:
len([i for i in ls if i[0] in "aeiou"])

3

## Functions

- Named Function : def
- Anonymous Function : lambda

In [64]:
# len(), sum(), list() 
# write a function that takes input as list and return the count of words that start with a vowel

def count_vowel(l):
    return sum(1 for i in l if i[0] in "aeiou")

In [65]:
count_vowel(["apple", "ajay", "ornage", "player", "python", "sumit"])

3

In [66]:
count_vowel(["a", "l", "m", "j"])

1

In [72]:
# Function that check if the input word is a palindrome or not?

# nayan
# level
# Madam

def check_palindrome(s):
    if s.lower() == s.lower()[::-1]:
        print("yes")
    else:
        print("no")

In [67]:
"india"[::-1]

'aidni'

In [73]:
check_palindrome("Madam")

yes

In [80]:
ls = [3,4,2,5,7,7,9,12,3,4,56,7,8]

# write a function the return the list with only even number and then use that list to take the sum of all the elements

def even_list(l):
    el = [i for i in l if i%2==0]
#     print(el)
    return el

In [81]:
a = even_list(ls)

In [83]:
sum(a)

86

## Map Reduce Filter

In [84]:
# Map

ls = [1,2,3,4,5,6,7,8]
#[2,3,4,5,6,7,8,9]

[i+1 for i in ls]

[2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
def add1(x):
    return x+1

In [90]:
list(map(add1, ls))

'[2, 3, 4, 5, 6, 7, 8, 9]'

In [96]:
for i in list(map(add1, ls)):
    print(i, end = " ")

2 3 4 5 6 7 8 9

In [ ]:
lambda x:x+1

In [88]:
list(map(lambda x:x+1, ls))

[2, 3, 4, 5, 6, 7, 8, 9]

In [97]:
## Filter

ls = [2,5,6,8,3,4,5,6,8,56,77,34,6,78]

# From the given list filter your even numbers

[i for i in ls if i%2==0]

[2, 6, 8, 4, 6, 8, 56, 34, 6, 78]

In [100]:
f = lambda x:x%2==0
f(12)

True

In [102]:
list(filter(lambda x:x%2==0, ls))

[2, 6, 8, 4, 6, 8, 56, 34, 6, 78]

In [103]:
## given the list of usernames, find all the valid usernames: Valid: The one with 10 letters and it dosen't starts with a number
ls = ['1abcdefgj', "SessionWithSumit", "AnalytixLabs", "12chachacha00"]

list(filter(lambda x :len(x)>=10 and x[0] not in "0123456789", ls))

['SessionWithSumit', 'AnalytixLabs']

## Reduce

In [104]:
from functools import reduce

In [106]:
ls = [1,2,3,4,5,6]

# x =1, y=2: 3
# x = 3, y=3: 6
# x = 6, y = 4: 10
# x = 10, y = 5: 15
# x = 15, y = 6: 21
    
# 21

In [107]:
reduce(lambda x,y: x+y, ls)

21

In [108]:
sum(ls)

21

In [113]:
# Find the Factorial of a given number n

# n = 5
# 5*4*3*2*1

#n = 3
# 3*2*1
n = 10
reduce(lambda x, y:x*y, range(1, n+1))

3628800