### Last

What is Data Science
What is Python and Why we need it, why it's important for Data Scinece.
What is Python Data Type: Int, Float, Strings, Bool
What is Python Object: Lists, Tuple, Dictionaries, Sets
How we may work with Lists, Tuple, Dictionaries, Sets

### Implement Condition and Loops

- If-Elif-Else
- Operators
- For Loops
- While Loops

In [3]:
# Equality and the assignment operator

# Assignment Operator
a = 12
b = 12.5

# Equality
# Checking if the a holds a value 12 or not?
print(a == 12.5) # True or False

# Not equality operator
print(a != 12.5) # True and False

False
True

In [4]:
## If-Elif and Else

a = "Sumit"

a =="Sumit"

True

In [7]:
if a == "Sumit":
    print("Yes")
else:
    print("No")

Yes

In [10]:
a = input("Enter a Name: ")

if a == "python":
    print("Small p")
elif a =="Python":
    print("Capital P")
else:
    print("No Match")

Enter a Name: Sumit
No Match

In [11]:
a = input("Enter a name")

Enter a nameSession With Sumit

In [12]:
a

'Session With Sumit'

In [16]:
a = int(input("Enter a number"))

Enter a number5

In [17]:
a

5

In [18]:
type(a)

int

In [22]:
## Range operator

# List with number between 0 to 100:
# [0,1,2,3,4,5.......]

# Range
# Stat Number: included
# End Number: Not Included
list(range(0,101))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [24]:
# Modulo Operator %

# Quetition
print(15/2)

# Reminder
print(15%2)

7.5
1

In [25]:
14%2

0

In [26]:
16%2

0

In [27]:
20%2

0

In [28]:
13%2

1

## Loops

- For Loop: We use a for loop in the case when I know how many times I need to run my Loop
- While Loops: We use a while loop in the case when I know the condition but not the n


When we wanted to do a certain task in Python for n number of times

In [29]:
print("Sumit")
print("Sumit")
print("Sumit")
print("Sumit")
print("Sumit")

Sumit
Sumit
Sumit
Sumit
Sumit

In [31]:
## For loop
for i in range(1, 10):
    print("Sumit")

Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit

In [32]:
for j in range(100):
    print(j, "Sumit")

0 Sumit
1 Sumit
2 Sumit
3 Sumit
4 Sumit
5 Sumit
6 Sumit
7 Sumit
8 Sumit
9 Sumit
10 Sumit
11 Sumit
12 Sumit
13 Sumit
14 Sumit
15 Sumit
16 Sumit
17 Sumit
18 Sumit
19 Sumit
20 Sumit
21 Sumit
22 Sumit
23 Sumit
24 Sumit
25 Sumit
26 Sumit
27 Sumit
28 Sumit
29 Sumit
30 Sumit
31 Sumit
32 Sumit
33 Sumit
34 Sumit
35 Sumit
36 Sumit
37 Sumit
38 Sumit
39 Sumit
40 Sumit
41 Sumit
42 Sumit
43 Sumit
44 Sumit
45 Sumit
46 Sumit
47 Sumit
48 Sumit
49 Sumit
50 Sumit
51 Sumit
52 Sumit
53 Sumit
54 Sumit
55 Sumit
56 Sumit
57 Sumit
58 Sumit
59 Sumit
60 Sumit
61 Sumit
62 Sumit
63 Sumit
64 Sumit
65 Sumit
66 Sumit
67 Sumit
68 Sumit
69 Sumit
70 Sumit
71 Sumit
72 Sumit
73 Sumit
74 Sumit
75 Sumit
76 Sumit
77 Sumit
78 Sumit
79 Sumit
80 Sumit
81 Sumit
82 Sumit
83 Sumit
84 Sumit
85 Sumit
86 Sumit
87 Sumit
88 Sumit
89 Sumit
90 Sumit
91 Sumit
92 Sumit
93 Sumit
94 Sumit
95 Sumit
96 Sumit
97 Sumit
98 Sumit
99 Sumit

#### Question
1                                                                                                             
22                                                                                                            
333                                                                                                           
4444                                                                                                          
55555                                                                                                         
666666                                                                                                        
7777777                                                                                                       
88888888                                                                                                      
999999999

In [ ]:
1 for 1 time
2 for 2 times
3 for 3 times
4 for 4 times

In [35]:
"4"*4

'4444'

In [38]:
2*2

4

In [44]:
str(3)*3

'333'

In [40]:
for i in range(1,10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [46]:
12%2==0

True

In [48]:
## For the numbers between 1 to 100: If the number is an even number, print "yes" else print "No"

for i in range(1, 101):
    if i%2==0:
        print(i, "Yes")
    else:
        print(i, "No")

1 No
2 Yes
3 No
4 Yes
5 No
6 Yes
7 No
8 Yes
9 No
10 Yes
11 No
12 Yes
13 No
14 Yes
15 No
16 Yes
17 No
18 Yes
19 No
20 Yes
21 No
22 Yes
23 No
24 Yes
25 No
26 Yes
27 No
28 Yes
29 No
30 Yes
31 No
32 Yes
33 No
34 Yes
35 No
36 Yes
37 No
38 Yes
39 No
40 Yes
41 No
42 Yes
43 No
44 Yes
45 No
46 Yes
47 No
48 Yes
49 No
50 Yes
51 No
52 Yes
53 No
54 Yes
55 No
56 Yes
57 No
58 Yes
59 No
60 Yes
61 No
62 Yes
63 No
64 Yes
65 No
66 Yes
67 No
68 Yes
69 No
70 Yes
71 No
72 Yes
73 No
74 Yes
75 No
76 Yes
77 No
78 Yes
79 No
80 Yes
81 No
82 Yes
83 No
84 Yes
85 No
86 Yes
87 No
88 Yes
89 No
90 Yes
91 No
92 Yes
93 No
94 Yes
95 No
96 Yes
97 No
98 Yes
99 No
100 Yes

In [50]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [51]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [52]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [54]:
for i in range(1, 10, 1):
    print(i)

1
2
3
4
5
6
7
8
9

In [58]:
## for the numbers between 1, 20 Check if a number is div by both 2 and 5: Print("yES"), eLSE :PRINT("no")

for i in range(1, 21):
    if i%2==0:
        if i %5==0:
            print(i, "Yes")
        else:
            print(i, "No")
    else:
        print(i, "No")

1 No
2 No
3 No
4 No
5 No
6 No
7 No
8 No
9 No
10 Yes
11 No
12 No
13 No
14 No
15 No
16 No
17 No
18 No
19 No
20 Yes

In [62]:
print(True and False)
print(False and True)
print(False and False)
print(True and True)

False
False
False
True

In [59]:
for i in range(1, 21):
    if i%2==0 and i%5==0:
        print(i, "Yes")
    else:
        print(i, "No")

1 No
2 No
3 No
4 No
5 No
6 No
7 No
8 No
9 No
10 Yes
11 No
12 No
13 No
14 No
15 No
16 No
17 No
18 No
19 No
20 Yes

### Break Continue and Pass

In [63]:
for i in range(1, 11):
    print(i)
    if i==5:
        break

1
2
3
4
5

In [70]:
for i in range(1,11):
    if i==5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9
10

In [68]:
for i in range(1,11):
    if i%2==0:
        print(i)
    if i%3==0:
        pass

2
4
6
8
10

In [102]:
## Check if the number is a prime number or not
num = int(input("Enter a number:"))

if num>1:
    for i in range(2, num):
        if num%i ==0:
            print(num, "is not a Prime number")
            break
        else:
            print(num, "is a Prime Number")
            break
else:
    print(num, "is not a Prime Number")

Enter a number:7
7 is a Prime Number

In [103]:
num = int(input("Enter a number:"))

if num>1:
    for i in range(2, num):
        if num%i ==0:
            print(num, "is not a Prime number")
            break
    else:
        print(num, "is a Prime Number")

else:
    print(num, "is not a Prime Number")

Enter a number:7
7 is a Prime Number

In [77]:
5%4

1

In [ ]:
2,3,4
5%2==0
5%3==0
5%4==0

In [84]:
2,3,4,5,6
7%7

0

In [ ]:
6

2,3,4,5,
6%2==0

In [104]:
# For loop with Lists, Strings and Dictionaries

ls = [1,2,3,4]
for i in ls:
    print(i)

1
2
3
4

In [105]:
ss = "Session With Sumit"
for i in ss:
    print(i)

S
e
s
s
i
o
n

W
i
t
h

S
u
m
i
t

In [118]:
d = {"A": "Apple", "B":"Ball", "C":"Cat"}
for i,j in d.items():
    print(i,j)

A Apple
B Ball
C Cat

In [113]:
d.items()

dict_items([('A', 'Apple'), ('B', 'Ball'), ('C', 'Cat')])

In [121]:
# Find the value of that key which is div by 2

d = {1:"Apple", 2:"Cat", 3:"Boy", 4:"Dog"}

for i, j in d.items():
    if i%2==0:
        print(j)
    else:
        pass

Cat
Dog

In [124]:
# Question
ls = [2,4,7,9,10,22,12,34,55,78,45,89,34,8,9,56]
# Count how many numbers are div by 2

c = 0

for i  in ls:
    if i%2==0:
        #c = c+1
        c+=1
    else:
        pass

In [125]:
c

10

In [126]:
ls = [2,4,7,9,10,22,12,34,55,78,45,89,34,8,9,56, " "]
len(ls)

16

In [129]:
c = 0
for i in ls:
        c = c+1

In [130]:
c

16

In [132]:
# Operators

#Enumerate
# Zip

ls = ["a", "b", "c", "d", "e", "f", "g", "h"]

# Print "Yes" for elements in the even index position and "No" for odd index position

list(enumerate(ls))

[(0, 'a'),
 (1, 'b'),
 (2, 'c'),
 (3, 'd'),
 (4, 'e'),
 (5, 'f'),
 (6, 'g'),
 (7, 'h')]

In [134]:
ls1 = []
for i, j in enumerate(ls):
    if i%2==0:
        ls1.append("Yes")
    else:
        ls1.append("No")

In [135]:
ls1

['Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No']

In [136]:
# zip

ls1

['Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No']

In [137]:
ls

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [141]:
ls2 = [1,2,3,4,5,6,7,8]

In [142]:
list(zip(ls, ls1, ls2))

[('a', 'Yes', 1),
 ('b', 'No', 2),
 ('c', 'Yes', 3),
 ('d', 'No', 4),
 ('e', 'Yes', 5),
 ('f', 'No', 6),
 ('g', 'Yes', 7),
 ('h', 'No', 8)]

In [143]:
ls1 = [1,2,3]
ls = ['Yes', 'No']
list(zip(ls1, ls))

[(1, 'Yes'), (2, 'No')]

## While Loop

In [151]:
a = 10

a<15

True

In [144]:
a = 0

while a<10:
    print("Sumit")
    a+=1

Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit
Sumit

In [146]:
"1234a".isnumeric()

False

In [147]:
len("1234567990")

10

In [150]:
# Write a code to check if the input number from the user is a valid mobile number or not?

# LEN(NUMBER)==10
# It should be all number

# The code should not end until the correct mobile number is entered

while True:
    a  = input("Enter your mobile number:")
    if len(a)==10 and a.isnumeric():
        print(a)
        break
    else:
        continue

Enter your mobile number:Sumit
Enter your mobile number:Shukla
Enter your mobile number:123
Enter your mobile number:123456789a
Enter your mobile number:1234567890
1234567890

In [154]:
a = 0
while a<10:
    a+=1
    if a*a==25:
        pass
    else:
        print(a*a)

1
4
9
16
36
49
64
81
100